@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300&display=swap');


.listContainer h1 {
    font-size: 30px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    margin-bottom: -20px;
    text-shadow: none;
    padding-top: 20px;
}

.listContainer h2 {
    font-size: 20px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.listContainer p {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 20px;
    margin-bottom: -20px;
}