

nav {
    height: 80px;
    width: 100%;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    }


nav .leftSide {
    flex:50%;
    display: flex;
    justify-content: left;
    align-items: center;
}

nav .leftSide .links {
    max-height: 50px;
}

nav .leftSide button {
    display: none;
    margin-left: 20px;
}

nav .leftSide #hidden {
    display: flex;
}

nav .leftSide .links a {
    text-decoration: none;
    color:white;
    font-size: 25px;
    margin-left: 15px;
}

nav .rightSide {
    flex:50%;
}

@media only screen and (max-width: 850px) {
    nav .leftSide .links a {
        font-size: 20px;
    }
    
}

@media only screen and (max-width: 750px) {
    nav .leftSide .links a {
        font-size: 15px;
    }
    
}

@media only screen and (max-width: 750px) {
    nav .leftSide button {
        display: flex;
    }
    nav .leftSide .links {
        display: none;
    }
    nav .leftSide #hidden {
        position: absolute;
        left: 0px;
        top: 80px;
        height:auto;
        max-height: 100%;
        width: 100%;
        background-color: darkorchid;
        display: flex;
        flex-direction: column;
    }
    nav .leftSide #hidden a{
        margin: 10px;
        font-size: 15px;
    }

}